apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mathison.configMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mathison.labels" . | nindent 4 }}
data:
  MATHISON_MODE: {{ .Values.config.mode | quote }}
  NODE_ENV: "production"
  LLM_PROVIDER: {{ .Values.config.llmProvider | quote }}
  DATABASE_HOST: {{ include "mathison.postgresql.host" . | quote }}
  DATABASE_PORT: {{ include "mathison.postgresql.port" . | quote }}
  DATABASE_NAME: {{ include "mathison.postgresql.database" . | quote }}
  DATABASE_USER: {{ include "mathison.postgresql.user" . | quote }}
  REDIS_URL: {{ include "mathison.redis.url" . | quote }}
  {{- if .Values.config.authUrl }}
  AUTH_URL: {{ .Values.config.authUrl | quote }}
  {{- end }}
  {{- if .Values.config.baseDomain }}
  MATHISON_BASE_DOMAIN: {{ .Values.config.baseDomain | quote }}
  {{- end }}
  {{- if .Values.config.tenantIngress.enabled }}
  INGRESS_ENABLED: "true"
  {{- if .Values.config.tenantIngress.ingressClass }}
  INGRESS_CLASS: {{ .Values.config.tenantIngress.ingressClass | quote }}
  {{- end }}
  {{- if .Values.config.tenantIngress.tlsEnabled }}
  TLS_ENABLED: "true"
  {{- end }}
  {{- if .Values.config.tenantIngress.tlsClusterIssuer }}
  TLS_CLUSTER_ISSUER: {{ .Values.config.tenantIngress.tlsClusterIssuer | quote }}
  {{- end }}
  {{- end }}
