{{- if .Values.redis.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "mathison.fullname" . }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mathison.labels" . | nindent 4 }}
    app.kubernetes.io/component: cache
spec:
  serviceName: {{ include "mathison.fullname" . }}-redis-headless
  replicas: 1
  selector:
    matchLabels:
      {{- include "mathison.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: cache
  template:
    metadata:
      labels:
        {{- include "mathison.labels" . | nindent 8 }}
        app.kubernetes.io/component: cache
    spec:
      serviceAccountName: {{ include "mathison.serviceAccountName" . }}
      terminationGracePeriodSeconds: 15
      containers:
        - name: redis
          image: "{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}"
          imagePullPolicy: IfNotPresent
          command:
            - redis-server
            - /etc/redis/redis.conf
          ports:
            - name: tcp-redis
              containerPort: 6379
              protocol: TCP
          {{- with .Values.redis.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /etc/redis
          livenessProbe:
            exec:
              command: ["redis-cli", "ping"]
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command: ["redis-cli", "ping"]
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
      volumes:
        - name: config
          configMap:
            name: {{ include "mathison.fullname" . }}-redis-config
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "mathison.selectorLabels" . | nindent 10 }}
          app.kubernetes.io/component: cache
      spec:
        accessModes: ["ReadWriteOnce"]
        {{- if .Values.redis.persistence.storageClass }}
        storageClassName: {{ .Values.redis.persistence.storageClass | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.redis.persistence.size }}
{{- end }}
