apiVersion: v1
kind: Service
metadata:
  name: {{ include "mathison.fullname" . }}-web
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mathison.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
spec:
  type: ClusterIP
  selector:
    {{- include "mathison.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: web
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
